.git
.github
.turbo
.DS_Store

node_modules
**/node_modules

dist
**/dist
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
playwright-report
**/playwright-report
test-results
**/test-results

pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

packages/db/local/*.sqlite
packages/db/local/*.sqlite-*

apps/*/.env
apps/*/.env.local

docker-compose.yml
compose.yaml
